@import url("reset.css");
.xjia {
  width: 100%;
  height: 100%;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  opacity: 0.3;
  position: relative;
}
.xjia header {
  width: 100%;
  height: 4rem;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  text-align: center;
}
.xjia header .bg {
  color: #ff7f1d;
  border-bottom: 1px solid #ff7f1d;
}
.xjia header .t_left,
.xjia header .t_right {
  width: 4rem;
  height: 4rem;
  background: none;
  margin-top: 15px;
}
.xjia header .t_left b,
.xjia header .t_right b {
  width: 1rem;
  height: 1rem;
  background: none;
  display: inline-block;
  border: 2px solid #ccc;
  border-top: none;
  border-right: none;
  transform: rotateZ(45deg);
}
.xjia header .t_left img,
.xjia header .t_right img {
  width: auto;
  height: 2rem;
  background: none;
}
.xjia header .t_cent {
  width: auto;
  height: 4rem;
  background: nome;
  -webkit-box-flex: 1;
  font-size: 1.6rem;
  text-align: center;
  line-height: 4rem;
}
.xjia header .t_cent b {
  padding: 0  8px;
  padding-bottom: 13px;
  box-sizing: border-box;
}
.xjia section {
  -webkit-box-flex: 1;
  overflow: auto;
}
.xjia section .banner {
  width: 100%;
  height: auto;
  background: none;
}
.xjia section .banner img {
  width: 100%;
  height: auto;
  background: none;
}
.xjia section .datalist {
  width: 100%;
  height: auto;
  background: none;
  padding: 0 12px 10px;
  box-sizing: border-box;
  border-bottom: 5px solid #f3f3f3;
}
.xjia section .datalist .s_list span {
  font-size: 1.6rem;
  display: inline-block;
}
.xjia section .datalist .s_list a {
  float: right;
  color: #ff7f1d;
}
.xjia section .datalist .s_list a img {
  width: auto;
  height: 2rem;
  background: none;
  vertical-align: middle;
}
.xjia section .datalist .s_list a b {
  margin-left: 5px ;
}
.xjia section .datalist .price {
  width: 100%;
  height: auto;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  line-height: 2.4rem ;
  padding: 5px 0;
  box-sizing: border-box;
}
.xjia section .datalist .price li:nth-child(1) {
  width: 5rem;
  height: 2rem;
  background: none;
  text-align: center;
  line-height: 2rem;
  background: #ff7f1d;
  color: #fff;
  border-radius: 5px;
}
.xjia section .datalist .price li:nth-child(2) {
  font-size: 1.6rem;
  color: #ff7f1d;
  margin: 0 5px;
}
.xjia section .datalist .price li:nth-child(3) {
  font-size: 1.2rem;
  text-decoration: line-through;
}
.xjia section .datalist .p_list {
  width: 100%;
  height: auto;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.xjia section .datalist .p_list li {
  -webkit-box-flex: 1;
}
.xjia section .datalist .p_list li:nth-child(1) {
  text-align: left;
}
.xjia section .datalist .p_list li:nth-child(2) {
  text-align: center;
}
.xjia section .datalist .p_list li:nth-child(3) {
  text-align: right;
}
.xjia section .pinlun {
  width: 100%;
  height: auto;
  background: none;
  padding: 0 10px 10px;
  box-sizing: border-box;
  border-bottom: 5px solid #ccc;
}
.xjia section .pinlun h2 {
  line-height: 3.5rem;
  font-size: 1.6rem;
  border-bottom: 1px solid #ccc;
}
.xjia section .pinlun h2 a {
  width: 0.8rem;
  height: 0.8rem;
  background: none;
  display: inline-block;
  float: right;
  margin-top: 15px;
  border: 2px solid #ccc;
  border-left: none;
  border-bottom: none;
  transform: rotateZ(45deg);
}
.xjia section .pinlun dl {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding-top: 10px ;
  box-sizing: border-box;
}
.xjia section .pinlun dl dt img {
  width: 2.5rem;
  height: 2.5rem;
  background: none;
}
.xjia section .pinlun dl dd {
  -webkit-box-flex: 1;
  margin-left: 12px;
  color: #959595;
}
.xjia section .pinlun dl dd ul li:nth-child(3) {
  margin-top: 3px;
  color: #000;
}
.xjia section .m_list {
  width: 100%;
  height: auto;
  background: none;
  padding: 0 10px;
  box-sizing: border-box;
}
.xjia section .m_list h3 {
  font-size: 1.6rem;
  line-height: 36px;
  border-bottom: 1px solid #ccc;
}
.xjia section .m_list .divimg {
  width: 100%;
  height: auto;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.xjia section .m_list .divimg dl {
  -webkit-box-flex: 1;
  padding: 10px 0px;
  box-sizing: border-box;
}
.xjia section .m_list .divimg dl dt img {
  width: auto;
  height: 6rem;
  background: none;
}
.xjia section .m_list .divimg dl dd:nth-child(1) {
  font-size: 1.4rem;
}
.xjia section .m_list .divimg dl .d_list span {
  color: #ff7f1d;
  font-size: 14px;
  display: inline-block;
}
.xjia section .m_list .divimg dl .d_list b {
  text-decoration: line-through;
  display: inline-block;
}
.xjia footer {
  width: 100%;
  height: 4rem;
  background: none;
  border-top: 1px solid #ccc;
  text-align: center;
}
.xjia footer .f_list {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.xjia footer .f_list li {
  -webkit-box-flex: 1;
}
.xjia footer .f_list li img {
  width: auto;
  height: 2rem;
  background: none;
  margin-right: 10px;
  vertical-align: middle;
}
.xjia footer .f_list li:nth-child(1) {
  line-height: 4rem;
  border-right: 1px solid #ccc;
  font-size: 1.4rem;
}
.xjia footer .f_list li:nth-child(2) {
  line-height: 4rem;
  font-size: 1.4rem;
}
.tishi {
  width: auto;
  height: 12rem;
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 5%;
  margin-right: 15px;
  z-index: 99;
}
.tishi p {
  width: auto;
  height: 8rem;
  background: none;
  border-bottom: 1px solid #ccc;
  line-height: 24px;
  text-align: center;
  font-size: 14px;
}
.tishi .btn {
  width: 100%;
  height: 4rem;
  background: #ffffff;
  line-height: 4rem;
  text-align: center;
}
.tishi .btn .qxia {
  width: 12rem;
  height: 4rem;
  background: none;
  display: inline-block;
  font-size: 14px;
  color: #1583fe;
  border-right: 1px solid #ccc;
}
.tishi .btn .qreng {
  width: 11.9rem;
  height: 4rem;
  background: none;
  display: inline-block;
  font-size: 14px;
  color: #1583fe;
}
